<html>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script>
    /* 
    Replace server url with actual hostname/ip and port of 
    your python server 
    */
    var COMMAND_URL = "/post/command";
    var get_key = (code) => {
      code.replace(/(<([^>]+)>)/ig,"")
       return code == ' ' ? 'Space' : code
    }
    $(document).keydown(function(e) {
        $.ajax({
          type: 'POST',
          contentType: 'application/json',
          contentType: "application/json; charset=utf-8",
          url: COMMAND_URL,
          dataType : 'json',
          data : JSON.stringify({cmd: get_key(e.key)}),
          success : function(result) {
            jQuery("#clash").html(result); 
          },error : function(result){
            console.log(result);
          }
        });
        console.log(e.key);
    });
  </script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <head>
    <title>Bot Control</title>
  </head>
  <body>
    <h1>Bot Control</h1>
    <img src="{{url_for('video_feed')}}" />
  </body>
</html>